$color1: #9ad4d6;
$color2: #343a40;
$color3: #c62e65;
$color4: #95190c;
$color5: #3A055A;
$easings:(
  default: cubic-bezier(.4, .25, .3, 1),
  in: cubic-bezier(.6, .1, .8, .7),
  out: cubic-bezier(.2, .3, .4, .9),
  in-out: cubic-bezier(.5, .15, .4, 1),
  bounce: cubic-bezier(.4, .25, .3, 1.4)
);
// cubic-bezier
@function cb($fn: default) {
    @return map-get($easings, $fn);
}

.blog{
    &__title{
        font-family: "Helvetica Neue",sans-serif;
        letter-spacing: .1rem;
        font-size: 5rem;
    }
    &__titlesvg{
        height: 8rem;
        padding-bottom: 1rem;
        padding-left: .2rem;
        padding-right: .2rem;
    }
    &__divider{
        margin-top: -2rem;
    }
    &__feed{
        margin-top: 10px;
        //padding: 0px 5rem;
    }
    &__post{
        color: white;
        height: 15rem;
        background-color: rgba($color: $color2, $alpha: 0.8);
        transition: all .1s ease-in;
    }
    &__post:hover{
        background-color: rgba($color: $color2, $alpha: 0.9);
    }
    &__list{
        padding-left: 0px;
    }
}

.preview{
    list-style-type: none;

    &__card{
        object-fit: contain;
        height: 100%;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__title{
        text-decoration: underline 2px;
        color: white;
    }
    &__title_div h1{
        margin-bottom: 0px;
    }
    &__link{
        text-decoration: none;
    }
    &__link:hover{
        text-decoration: none;
    }
    &__details{
        position: absolute;
        bottom: .5rem;
    }
    &__author{
        color: white;
    }
    &__author:hover{
        color: white;
    }
    &__color_light{ 
        color: #aaaaaa;
    }
    &__smalltext{
        font-size: small;
    }
    &__published{
        margin-left: 1rem;
    }
    &__tags{
        margin-left: 1rem;
        padding-bottom: 1rem;
    }
    &__tag{
        color: white;
        margin-right: .5rem;
        text-decoration: none;
        transition: all 0.2s ease-in;
        
        padding: 5px;
    }
    &__tag:hover{
        color: white;
        margin-right: .5rem;
        text-decoration: none;
    }
    &__reading{
        height: auto;
    }
    &__tag_icon{
        font-size: 0.8rem;
        margin-right: 0.1rem;
    }
    &-move { transition: all 550ms cb() }
    &-enter-active { transition: all 325ms cb(out) 175ms }
    &-appear-enter-active { transition: all 275ms cb(out) 200ms }
    &-leave-active {
        transition: all 225ms cb(in);
        position: absolute;
        z-index: -1;
      }
    &-enter,
    &-leave-to,
    &-appear-enter {
        opacity: 0;
        transform: translate3d(0, -2.5rem, 0);
    }
}
.color5{
    color: $color1;
    border-radius: 5px;
    border-color: rgba($color: $color1, $alpha: 0);
    border-style: solid;
    border-width: 1px;
    background-color: rgba($color: $color1, $alpha: 0);
    transition: all 0.2s ease-in-out;
}
.color5:hover{
    color: $color5;
    border-radius: 5px;
    border-color: rgba($color: $color1, $alpha: 0);
    border-style: solid;
    border-width: 1px;
    background-color: rgba($color: $color1, $alpha: 1);
}

.post{
    &-enter-active { transition: all 375ms cb(out) }
    &-leave-active { transition: all 300ms cb(in) }

    &-enter,
    &-leave-to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    &__meta{
        color: white;
    }
    &__tags{
        padding-top: 0.2rem;
    }
    &__metasmall{
        font-size: small;
    }
}

.nolink{
    color: white;
}
.nolink:hover{
    text-decoration: none;
    color: white;
}

.v {
    &--fade {
      &-enter-active,
      &-leave-active { transition: all 275ms cb() }
  
      &-enter,
      &-leave-to { opacity: 0}
  
      &-leave,
      &-enter-to { opacity: 1}
    }
}

.heading{
    margin-top: 10px;
}

.maxheight{
    text-decoration: none;
    color: white;
    max-height: 100%;
}

.feed{
    &__pagination{
        justify-content: center;
        list-style-type: none;
        display: flex;
    }
    &__pagelink{
        color: white;
        text-decoration: none;
        padding: .2rem .5rem;
        border-color: #ffffff00;
        border-style: solid;
        border-width: 1px;
        transition: all .2s ease-in;
    }
    &__pagelink.router-link-active{
        text-decoration: underline;
    }
    &__pagelink.router-link-active.feed__disabledlink{
        text-decoration: none;
    }
    &__pagelink:hover{
        color: white;
        border-color: #ffffff;
    }
    &__disabledlink{
        color: #aaaaaa;
        pointer-events: none;
    }
}