$color_brightblue: #9ad4d6;
$color_gray: #343a40;
$color_purple: #3A055A;
$color_orange: #D65108;
$color_lachs: #F5E9E2;
$color_red: #95190c;
$color_turkis: #388697;
$color_rose: #D66BA0;
//$color6: #322c35;
//$color3: #c62e65;
//$color_brightblue0: #6DA34D;

//$color61: #3A055A;
//$color71: #343A40;
//$color81: #F5E9E2;

//$color92: #3772FF;
//$color_brightblue02: #DF2935;