.image-size{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    overflow: hidden;
}
.container-fix{
    padding-left: 0;
    padding-right: 0;
}
.margins{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2rem;
}