@import 'colors';

html{
    //scroll-snap-type: y proximity;
}

.page{
    height: 100vh;
    width: 100%;
    position: relative;
    //margin-bottom: 100vh;
    scroll-snap-align: start;
}
.padthetop{
    height: 100vh;
    scroll-snap-align: start;
}
.footercl{
    scroll-snap-align: end;
}

.image-size{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    overflow: hidden;
}
.container-fix{
    padding-left: 0;
    padding-right: 0;
}
.margins{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.text-bg-dark{
    background-color: #4C5258;
}
.text-bg-darker{
    background-color: $color_gray;
}
.text-bg-light{
    background-color: $color_lachs;
    color: $color_gray;
}
.text-bg-lighter{
    background-color: #A59E9A;
}
.textcontainer{
    height: 81vh;
    width: 30vw;
}
.textcontainer.text-bg-dark.textright{
    box-shadow: -.5rem .8rem $color_gray;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}
.textcontainer.text-bg-dark.textleft{
    box-shadow: .5rem .8rem $color_gray;
}
.textcontainer.text-bg-light.textright{
    box-shadow: -.5rem .8rem #A59E9A;
}
.textcontainer.text-bg-light.textleft{
    box-shadow: .5rem .8rem #A59E9A;
}

.timeline2{
    position: relative;
    align-self: end;
    width: 3rem;
    height: 100vh;
}

.timeline2-top{
    position: relative;
    top:0;
    border: 0 solid;
    height: 2rem;
    margin: 0 2.8rem;
    border-bottom: .2rem solid;
}
.timeline2-topleft-orange-red{
    border-right: .2rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, $color_orange 0%, $color_red 100%);
}
.timeline2-topright-red-orange{
    border-left: .2rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, $color_red 0%, $color_orange 100%);
}
.timeline2-topleft-orange-turkis{
    border-right: .2rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, $color_orange 0%, $color_turkis 100%);
}

.timeline2-right{
    float: right;
    border: 0px;
    border-left: .2rem solid;
}
.timeline2-left{
    float: left;
    border: 0px;
    border-right: .2rem solid;
}
.timeline2-div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.timeline2-start .timeline2-top{
    border: 0 solid !important;
}
.timeline2-start .timeline2.timeline-orange{
    border-top: .2rem solid $color_orange;
}
.timeline2-end .timeline2.timeline-turkis{
    height: 95vh;
    border-bottom: .2rem solid $color_turkis;
}

.timeline-red{
    border-color: $color_red;
}
.timeline-turkis{
    border-color: $color_turkis;
}
.timeline-orange{
    border-color: $color_orange;
}
.timeline-red-orange{
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, $color_red 90%, $color_orange 100%);
}
.timeline-orange-red{
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, $color_orange 90%, $color_red 100%);
}
.timeline-orange-turkis{
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, $color_orange 90%, $color_turkis 100%);
}

.textright{
    position: absolute;
    right: 0;
    margin-top: 8rem;
}
.imgleft{
    margin-left: 12vw;
    margin-right: auto;
    width: 35%;
}

.textleft{
    position: absolute;
    left: 0;
    margin-top: 8rem;
    text-align: right;
}
.imgright{
    margin-right: 12vw;
    margin-left: auto;
    width: 35%;
}

.containercontent{
    padding-top: 2rem;
    height: 100%;
    z-index: 3;
    position: inherit;
}
.textright .containercontent{
    margin-left: 3rem;
    //margin-top: 2rem;
    padding-right: 3rem;
    margin-right: 3rem;
}
.textleft .containercontent{
    margin-right: 3rem;
    //margin-top: 2rem;
    margin-left: 3rem;
    padding-left: 3rem;
}
.textheading{
    font-size: 4rem;
    font-weight: bolder;
}
.textcontent{
    padding-top: 1rem;
    font-weight: 500;
    font-size: large;
}
.flexcol{
    display: flex;
    flex-direction: row;
}


.blogpage{
    background-color: $color_lachs;
}
.websitepage{
    background-color: $color_brightblue;
}
.botpage{
    background-color: $color_gray;
}
.mappage{
    background-color: $color_rose;
}
.blogimg{
    margin-top: 5rem;
}
.websitepageimg{
    width: 40%;
}
.botimg{
    width: 50%;
    margin-left: 10rem;
}
.mappageimg{
    width: 50%;
    margin-right: 7rem;
    margin-bottom: 5rem;
}


.aboutmepage{
    background-color: $color_gray;
    //min-height: 300px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    scroll-snap-align: center;
}
.borderpadding{
    padding: 0 20vw;
    display: flex;
    flex-direction: row;
    max-height: 300px;
}
.portrait{
    padding-right: 10vh;
    object-fit: contain;
    display: inline-block;
    min-width: 0;
    width: 50%;
}
.abouttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.contactpage{
    background-image: url('../imgs/pexels-rostislav-uzunov-5011647.jpg');
    background-attachment: fixed;
    background-position-x: -450px;
    background-position-y: -400px;
    height: auto;
}
.contactmebg{
    background-color: #4C5258;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}
.contactmecontainer{
    padding: 8rem 25vw;
}
.contactheading{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.contactinputs{
    padding-bottom: 2rem;
}
.contactinput{  
    background-color: $color_gray;
    color: white;
    border: none;
    padding: .5rem;
    width: 20rem;
}
.contactinput:focus{
    outline: 2px solid $color_red;
}

.contactinputpad{
    margin-right: 1rem;
}
.contactbtn{
    background-color: $color_red;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    margin-bottom: 2rem;
}
.contactbtn:focus{
    outline: 2px solid white;
}
.contacttext{
    margin-top: 1rem;
    width: 41rem;
    background-color: $color_gray;
    color: white;
    border: none;
    padding: .5rem;
    height: 6rem;
}
.contacttext:focus{
    outline: 2px solid $color_red;
}

.footerpage{
    background-color: $color_purple;
    height: 30vh;
    width: 100%;
}

//right aligned text
.righttext{
    text-align: right;
}

//image that fill the whole container
.fillimg{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.smolimg{
    height: 70%;
    width: 70%;
}
//1rem padding top and bottom 
.paddingtopbottom{
    //height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.timelineDot{
    position: absolute;
    top: 1.2rem;
    right: -2rem;
    border: 1rem solid $color_orange;
    border-radius: 50%;
    height: 0;
    width: 0;
    z-index: 1000;
}

.contentbtn{
    padding: .5rem 1rem;
}

.btn-orange{
    background-color: $color_orange;
    color: white;
}
.btn-orange:hover{
    background-color: darken($color_orange, 10%);
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#tlDotW{
    border-color: $color_red !important;
}

.btn-red{
    background-color: $color_red;
    color: white;
}
.btn-red:hover{
    background-color: darken($color_red, 10%);
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn-turkis{
    background-color: $color_turkis;
    color: white;
}
.btn-turkis:hover{
    background-color: darken($color_turkis, 10%);
    cursor: pointer;
    text-decoration: none;
    color: white;
}

svg{
    transform-box: fill-box;
    z-index: 2;
}

.Person2Animation1{
    transform-origin: 550px 300px;
    transition: all 1s ease;
}
.blogimghover .Person2Animation1{
    transform: rotate(30deg);
}

.Person2Animation2{
    transform-origin: 580px 240px;
    transition: all .7s ease;
}
.blogimghover .Person2Animation2{
    transform: rotate(20deg);
}

.BlogAnimation1{
    transition: all .6s ease;
    transform-origin: 307px 160px;
}
.blogimghover .BlogAnimation1{
    transform: scale(103%) translateY(-20px);
}

.BlogAnimation2{
    transition: all 1s ease;
}
.blogimghover .BlogAnimation2{
    transform: translateY(-20px)
}

.Person1Animation1{
    transition: all 1s ease;
    transform-origin: 60px 223px;
}
.blogimghover .Person1Animation1{
    transform: rotate(10deg);
}

.Person1Animation2{
    transition: all 1s ease;
    transform-origin: 32px 285px;
}
.blogimghover .Person1Animation2{
    transform: rotate(-10deg);
}

.Person1Animation3{
    transition: all 1s ease;
    transform-origin: 90px 300px;
}
.blogimghover .Person1Animation3{
    transform: rotate(10deg);
}

.Person1Animation4{
    transition: all 1s ease;
    transform-origin: 75px 580px;
}
.blogimghover .Person1Animation4{
    transform: rotate(-20deg);

}

.row100{
    width: 100%;
}
.cleanlink{
    text-decoration: none;
}
.cleanlink:hover{
    text-decoration: none;
}
.link-orange{
    color: $color_orange;
    //transition: all .1s ease-in;
}
.link-orange:hover{
    color: darken($color_orange, 10%);
}
.link-turkis{
    color: lighten($color_turkis, 20%);
    //transition: all .1s ease-in;
}
.link-turkis:hover{
    color: darken(lighten($color_turkis, 20%), 10%);
}
.link-purple{
    color: lighten($color_purple, 50%);
    //transition: all .1s ease-in;
}
.link-purple:hover{
    color: darken($color_purple, 10%);
}

.color-turkis{
    color: lighten($color_turkis, 20%);
}
.color-orange{
    color: $color_orange;
}
.color-red{
    color: lighten($color_red, 20%);
}

