body {
  background-image: url(../imgs/tri_2viewports.jpg);
  background-size: auto;
  font-family: Roboto,monospace;
  color: white;
  overflow-x: hidden;
  z-index: 1;
}

.color-secondary {
  background-color: #9ad4d6;
  color: #fff;
}

.link-color-secondary:link, .link-color-secondary:visited {
  color: #121416;
  text-decoration: none;
  padding: 1px 4px;
  padding-bottom: 6px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  font-size: 18pt;
  font-weight: bold;
  -webkit-animation: animateShadow 5s infinite;
          animation: animateShadow 5s infinite;
}

.link-color-secondary:hover {
  color: #343a40;
  background-color: #ffffff22;
  padding: 1px 4px;
  padding-bottom: 6px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.link-color-secondary:active {
  color: var(--secondary);
  border: var(--secondary) solid 1px;
  padding: 1px 4px;
  padding-bottom: 6px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}

.middle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.divider {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

.fitFull {
  padding-left: 0;
  padding-right: 0;
  z-index: 3;
}

.maindiv {
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  min-width: 100%;
}

.col-before {
  max-width: 0%;
}

.no-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-header {
  color: white;
  font-family: "Helvetica Neue",sans-serif;
  font-size: 20vw;
  text-align: center;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
}

.links-list {
  width: 100%;
  padding: 1rem;
}

.links-list-item {
  display: inline;
  padding: 5px;
  font-size: initial;
}

.links-link {
  -webkit-transition: all ease-in .2s;
  transition: all ease-in .2s;
  color: #aaaaaa;
  text-decoration: none;
  font-family: "Consolas",monospace;
}

.links-link:hover {
  color: white;
  text-decoration: none;
}

.text-dec-none {
  text-decoration: none;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
}

.testbig {
  height: 2160px;
}

.width-100 {
  width: 100%;
}

.links-link-twitter:hover {
  color: #1da1f2;
}

.links-link-twitch:hover {
  color: #9a7fcc;
}

.links-link-osu:hover {
  color: #e866a0;
}

.links-link-youtube:hover {
  color: #ff3333;
}

.fixed-mid {
  position: absolute;
  top: 50vh;
  z-index: -10;
}

.percent50 {
  width: 100%;
  height: 50vh;
}

.backgroundimg {
  z-index: 2 !important;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.parallax {
  /* The image used */
  background-image: url("../imgs/Parallax/005.png");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.toparallax {
  z-index: 0;
}

.alerttop {
  margin-right: 1rem;
  margin-left: auto;
  margin-top: 1rem;
  z-index: 3;
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.alerttop:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.alerttop div p {
  margin-bottom: 0px;
}

.alert-close {
  padding: .5rem;
  margin-left: -.5rem;
  z-index: 4;
}

.alertlink {
  color: initial;
}

.alertlink:hover {
  text-decoration: none;
  color: initial;
}

.diag1 {
  margin-top: -20vh;
  z-index: 1;
}

.arrowrot {
  rotate: 200deg;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  max-height: 3rem;
}

.diag1move {
  margin-top: -15vh;
  padding-left: .7rem;
  padding-bottom: 10rem;
}

.scrollfont {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: bold;
  color: #9ad4d6;
  margin-top: -2rem;
}

.shader {
  width: 100%;
  height: 100vh;
  margin-top: -3rem;
}

.scroll-down {
  font-size: 1.5rem;
}

.scroll-down-div {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #343a40;
}

::-webkit-scrollbar-thumb {
  background: #9ad4d6;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9ad4d6 #343a40;
}

@media (min-width: 768px) {
  .col-before {
    min-width: 20%;
    display: block;
  }
  .maindiv {
    min-width: 60%;
  }
}

@media (min-width: 576px) {
  .links-header {
    font-size: 6rem;
  }
}

@media (max-width: 768px) {
  .shader {
    width: 177vh;
    height: 120vh;
    margin-top: -3rem;
    overflow: hidden;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */