.weapons{
    margin-top: 1rem;
}
.card-img-bottom{
    height: 5rem;
    object-fit: contain;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3vh;
    background-color: #343a40;
    width: 100%;
}
.link-nocolor{
    color: white;
}
.link-nocolor:hover{
    color: white;
}
.buttons{
    margin: auto;
    width: 40vw;
    margin-top: 2rem;
}
.bold{
    font-weight: bolder;
}
.box{
    text-decoration: underline;
}